<div class="jumbo">
  <h3>Select your Flight</h3>
  
  <!--<div class="left">
         <label for='order' class="sr-only">Order</label>
 	  <select id="order" class="form-control input-sm">
 	         <option selected="selected">PRICE (LOWEST)</option>
 		   <option>PRICE (HIGHEST)</option>
 		   <option>DURATION (SHORTEST)</option>
 		   <option>DURATION (LONGEST)</option>
 		   <option>ARRIVAL (EARLIEST)</option>
 		   <option>ARRIVAL (LATEST)</option>
 	   </select>
   </div> -->



</div>

{{flight-listing flights=model}}  

